<script>
  $("#globalsearch")[0].action = "/stats/search/hits";
  $("#globalsearch").show();
</script>

<div class="tab-pane" id="Logs">
  <%if @hits %>
 		<h5>List of hits:</h5>
    <table class="table table-condensed">
      <tbody>
        <% @paths.each do |h| %>
          <tr><td>
          	<span class="label label-info"><%= h %></span>
          </td></tr>
        <% end %>
      </tbody>
    </table>
  	<h5>Detailed Hits</h5>
	  <table class="table table-condensed">
	    <thead>
	    	<th>Email</th>
	    	<th>Campaign</th>
	      <th>IP</th>
	      <th>Port</th>
				<th>Domain</th>
        <th>GeoLocation</th>
	      <th>Path</th>
	      <th>Forwarded</th>
	      <th>OS</th>
	      <th>Browser</th>
	      <th>Engine</th>
	      <th>Platform</th>
	      <th>Created</th>
	    </thead>
	    <tbody>
	      <% @hits.each do |hit| %>
	        <tr>
	        	<td><%if !hit.data.nil?%><%=h hit.data['email'] %><%end%></td>
	        	<td><%if !hit.data.nil?%><span class="label label-info"><%=h hit.data['subject'] %></span><%end%></td>
	          <td><%=h hit.ip %></td>
	          <td><%=h hit.port %></td>
	          <td><%=h hit.domain %></td>
            <td><%=h (hit.location['city'] == "" ? "Unkonwn" : hit.location['city']) %> - <span class="flag-icon flag-icon-<%=h hit.location['country_code'].downcase %>"></span> - <a target="_blank" href="https://www.google.com/maps/search/<%=h hit.location['latitude'] %>,<%=h hit.location['longitude'] %>">?</a></td>
	          <td><%=h hit.path[0..20] %></td>
	          <% if !hit.forwarded? %>
	          <td><span class="label label-success"><%=h hit.forwarded? %></span></td>
	          <% else %>
	          <td><span class="label label-danger"><%=h hit.forwarded? %></span></td>
	          <% end %>
						<td><%=h hit.ua_os %></td>
						<td><%=h hit.ua_browser %></td>
						<td><%=h hit.ua_engine %></td>
						<td><%=h hit.ua_platform %></td>
	          <td><small><%=h hit.created_at.strftime("%m/%d/%Y-%T")%></small></td>
	        </tr>
	      <% end %>
	    </tbody>
	  </table>
  <% end %>
</div>
