<script>
  $("#globalsearch")[0].action = "/stats/search/persons";
  $("#globalsearch").show();
</script>

<h5>Latest Persons Hits</h5>
<div class="tab-pane" id="Logs">
  <%if @persons %>
      <table class="table table-condensed">
        <thead>
          <th></th>
          <th>Email</th>
          <th>Last Seen</th>
          <th>OS</th>
          <th>#</th>
          <th>Created</th>
          <th>Updated</th>            
        </thead>
        <tbody>
          <% @persons.each_with_index do |person,idx| %>
            <tr onclick="window.location='/stats/person/<%=h person['email']%>'">
              <td><%= idx + 1 %></td>
              <td><%=h person.email %></td>
              <td><span class="label label-info"><%=h person.responded.last %></span></td>
              <td><span class="label label-danger"><%=h person.hits.last.ua_os  %></span></td>
              <td><span class="label label-success"><%=h person.responded.size %></span></td> 
              <td><small><%=h person.created_at.strftime("%m/%d/%Y-%T")%></small></td>
              <td><small><%=h person.updated_at.strftime("%m/%d/%Y-%T") %></small></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  <% else %>
      <h5 class="text-error">&nbsp;&nbsp;&nbsp;&nbsp;Empty ... </h5>
  <% end %>
</div>
